body.merchsys-shop-page {
	&.page-two-column:not(.archive) #primary .page {
		@extend .row;
	}
	.entry-header, 
	.entry-content,
	&.page-two-column:not(.archive) #primary .entry-header,
	&.page-two-column:not(.archive) #primary .entry-content,
	{
		@extend .col-12;
	}
	#merchsys-shop {
		a {
			text-decoration: none;
			box-shadow: none;
			-webkit-box-shadow: none;
		}
	}
}